---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.paddle.com/metrics/checkout-conversion?from=2025-09-01&to=2025-09-03
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"timeseries":[{"timestamp":"2025-09-01T00:00:00Z","count":151,"completed_count":5,"rate":"0.033113"},{"timestamp":"2025-09-02T00:00:00Z","count":66,"completed_count":11,"rate":"0.166667"}],"starts_at":"2025-09-01T00:00:00Z","ends_at":"2025-09-03T00:00:00Z","interval":"day","updated_at":"2025-09-04T20:30:00Z"},"meta":{"request_id":"b93d9c94-c28f-4e5d-af2e-044854d7afe8"}}'
  recorded_at: Tue, 22 Sep 2026 10:00:00 GMT
recorded_with: VCR 6.2.0
