---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.paddle.com/transactions/txn_01h7e0r43zjgzbcpqs093spymc/revise
    body:
      encoding: UTF-8
      string: '{"customer":{"name":"Sam Miller"},"business":{"tax_identifier":"AB0123456789"},"address":{"first_line":"3811 Ditmars Blvd"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"txn_01h7e0r43zjgzbcpqs093spymc","status":"completed","customer_id":"ctm_01h7dth5z8q7df4r73r4jek70g","address_id":"add_01h7dtpj3a5ygxw13fzhw8h445","business_id":"biz_01h7dv63eze6r79924ch5c1rbd","currency_code":"USD","origin":"web","subscription_id":null,"invoice_number":"325-10566","collection_mode":"automatic","items":[],"details":{"totals":{"subtotal":"2499","tax":"0","total":"2499","grand_total":"2499","currency_code":"USD"}},"payments":[],"created_at":"2023-08-10T09:00:00.000Z","updated_at":"2026-09-22T10:00:00.000Z","billed_at":"2023-08-10T09:00:00.000Z","revised_at":"2026-09-22T10:00:00.000Z"},"meta":{"request_id":"5e6f7a8b-9c0d-4e1f-2a3b-4c5d6e7f8a9b"}}'
  recorded_at: Tue, 22 Sep 2026 10:00:00 GMT
recorded_with: VCR 6.2.0
