---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.paddle.com/metrics/monthly-recurring-revenue?from=2025-09-01&to=2025-09-05
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"timeseries":[{"timestamp":"2025-09-01T00:00:00Z","amount":"1286023068"},{"timestamp":"2025-09-02T00:00:00Z","amount":"1286100000"}],"starts_at":"2025-09-01T00:00:00Z","ends_at":"2025-09-05T00:00:00Z","interval":"day","currency_code":"USD","updated_at":"2025-09-04T20:30:00Z"},"meta":{"request_id":"b93d9c94-c28f-4e5d-af2e-044854d7afe8"}}'
  recorded_at: Tue, 22 Sep 2026 10:00:00 GMT
recorded_with: VCR 6.2.0
